<h2>Show Event request</h2>

<ul>

  <li>
    <strong>State:</strong>
    <%= @event_request.state %>
  </li>

</ul>

<span><%= link "Edit", to: event_request_path(@conn, :edit, @event_request) %></span>
<span><%= link "Back", to: event_request_path(@conn, :index) %></span>
