<%= gettext "Nearly there!" %>

==

<%= gettext "You created an account on %{host} with this email address. You are one click away from activating it. If this wasn't you, please ignore this email.", host: @instance[:name] %>

<%= Mobilizon.Web.Endpoint.url() <> "/validate/#{@token}" %>
