.activity-item {
  display: flex;
  span.icon {
    width: 2em;
    height: 2em;
    box-sizing: border-box;
    border-radius: 50%;
    background: #fff;
    border: 2px solid;
    z-index: 2;
    flex-shrink: 0;

    &.has-text-grey {
      border-color: $grey;
    }
  }

  .subject {
    padding: 0.25rem 0 0 0.5rem;
  }
}
