<h2>Show Tag</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @tag.title %>
  </li>

  <li>
    <strong>Slug:</strong>
    <%= @tag.slug %>
  </li>

</ul>

<span><%= link "Edit", to: tag_path(@conn, :edit, @tag) %></span>
<span><%= link "Back", to: tag_path(@conn, :index) %></span>
