<h2>Show Event accounts</h2>

<ul>

  <li>
    <strong>Roles:</strong>
    <%= @event_accounts.roles %>
  </li>

</ul>

<span><%= link "Edit", to: event_accounts_path(@conn, :edit, @event_accounts) %></span>
<span><%= link "Back", to: event_accounts_path(@conn, :index) %></span>
