<h2>Show Group account</h2>

<ul>

  <li>
    <strong>Role:</strong>
    <%= @group_account.role %>
  </li>

</ul>

<span><%= link "Edit", to: group_account_path(@conn, :edit, @group_account) %></span>
<span><%= link "Back", to: group_account_path(@conn, :index) %></span>
