<%= gettext "Participation approved" %>

==

<%= gettext "You requested to participate in event %{title}.", title: @event.title %>

<%= gettext "An organizer just approved your participation. You're now going to this event!" %>

<%= page_url(MobilizonWeb.Endpoint, :event, @event.id) %>

<%= gettext "If you need to cancel your participation, just access the previous link and click on the participation button." %>
