<h2>Show Group request</h2>

<ul>

  <li>
    <strong>State:</strong>
    <%= @group_request.state %>
  </li>

</ul>

<span><%= link "Edit", to: group_request_path(@conn, :edit, @group_request) %></span>
<span><%= link "Back", to: group_request_path(@conn, :index) %></span>
